<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
<ul>
  <li><%= f.label 'Display Name' %>
  <%= f.text_field :username %></li>

  <li><%= f.label :email %>
  <%= f.email_field :email %></li>

  <li><%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
  <%= f.password_field :password %></li>

  <li><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></li>

  <li><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
  <%= f.password_field :current_password %></li>

  <li><%= f.submit "Update" %></li>
</ul>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<!-- <%= link_to "Back", :back %> -->
