<div class="container header">
	<div class="sixteen columns account">
		<span class="number">719.422.NICE</span>
		<% if current_user %>
		<span class="accountName"><%= current_user.name %></span>
		<a class="settings" href="<%= profile_path %>">settings</a>
		<a class="login logout" href="<%= sign_out_path %>">log out</a>
		<% else %>
		<a class="login logout" href="<%= sign_in_path %>">log in</a>
		<a class="login logout" href="<%= sign_up_path %>">sign up</a>
		<% end %>
	</div>
	<div class="clear"></div>
</div>