<!DOCTYPE html>
<html lang="en"><!--<![endif]--><head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Nice Neighbor</title>
	<meta content="" name="description">
	<meta content="" name="author">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

	<!-- CSS
  ================================================== -->
	<link href="/stylesheets/base.css" rel="stylesheet">
	<link href="/stylesheets/skeleton.css" rel="stylesheet">
	<link href="/stylesheets/layout.css" rel="stylesheet">
	<link href="/stylesheets/main.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dancing+Script">
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Josefin+Sans:300,700">


	<!-- Favicons
	================================================== -->

	<link href="/images/favicon.ico" rel="shortcut icon">
	<link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="/images/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon">
	<link href="/images/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon">

  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
  	<%= yield :head %>


</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<%= render "layouts/userbar" %>

	<div class="container body">
		<a href="<%= root_path %>"><h1 class="logo">Nice Neighbor</h1></a>
		<% if not current_user %>
		    <%= render 'users/call_to_action' %>
	    <% else %>
	        <%= render 'neighborhoods/start' %>
		<% end %>
		<div class="one-third column">
			<div class="clear"></div>
			<h3>How it Works</h3>
			<img width="300" height="187" alt="Cells" src="/images/cells.png">
			<ol>
			<li>Sign up! All you need is your name, email address and phone number.</li>
			<li>Submit requests as you need them.</li>
			<li>You can also respond to requests from your neighbors by searching in your area.</li>
			<li>Nice Neighbor allows you to connect with your fellow neighbors and lend a helping hand.</li>
		</ol>
		</div>
		<div class="two-thirds column quotes">
			<h3>What Your Neighbors are saying</h3>
			<blockquote>"Nice Neighbor is revolutionizing the way neighbors interact."</blockquote>
			<blockquote>"Easy to use and effective: would recommend NiceNeighbor to all my friends!"</blockquote>
      <blockquote>"So helpful and convenient, connected the whole neighborhood when we needed to come together."</blockquote>
			<h3>Case in Point</h3>
			<div class="five columns">
				<img width="140" height="144" alt="Lady" src="/images/lady.png">
			</div>
			<div class="five columns">
				<img width="140" height="192" alt="Gent" src="/images/gent.png">
			</div>
			<div class="five columns panelOne">
				<h4>Frantic Request from Sue:</h4>
				<p>My basement is flooding from the storm! I need a bucket brigade!</p>
			</div>
			<div class="five columns panelTwo">
				<h4>Urgent Response from Fred</h4>
				<p>Sue, I have a portable sump pump. I'll be right over.</p>
			</div>
			<div class="ten columns panelThree">
				<h4>Sue avoided thousands of dollars worth of damage, and saved her family photo albums, thanks to Nice Neighbor.</h4>
			</div>

		</div>
	</div><!-- container -->
	<div class="container footer">
		<img width="103" height="88" alt="Footer Sweater" src="/images/footer_sweater.png">
		<p>This project is one of many entries in the <a href="http://www.sunlightfoundation.com">Sunlight Foundation's</a> Labs Olympics competition. It doesn't actually exist, and our quotes and stories are entirely made up. You may be fooled by the fact that it's super duper awesome...and actually works, but don't let us trick you.</p>
	</div>


	<!-- JS
	================================================== -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="/javascripts/tabs.js"></script>

<!-- End Document
================================================== -->

</body></html>
